@{
    ViewBag.Title = "Giới thiệu";
}
@*<header id="gtco-header"  class="gtco-cover gtco-cover-md g-header" role="banner" style="background-image: url(/Content/Home/images/ks.jpg)" data-stellar-background-ratio="0.5">*@
<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(/Content/Home/images/ks.jpg)">
        <div class="overlay"></div>
    </header>
<br /><br /><br /><br />
<body>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@ViewBag.Title</h3>
            </div>
            <div class="panel-body">
                <h3>Chào mừng đến với khách sạn Robins Villa</h3>
                <p>
                    Khách sạn Robins villa là khách sạn hàng đầu tại thành phố Đà Lạt. Là điểm dừng chân lý tưởng của các du khách trong và ngoài nước cho mỗi chuyến công tác hay du lịch cùng bạn bè và người thân.
                    <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3903.448787581086!2d108.42328651412572!3d11.94339873983606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31716cd36d64fcb7%3A0xdc7a799cd611e62!2sRobins%20Villa!5e0!3m2!1svi!2s!4v1572434340434!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe></center>
                    Không chỉ làm hài lòng quý khách bởi hệ thống phòng nghỉ sang trọng cùng các trang thiết bị hiện đại, khách sạn còn cung cấp các dịch vụ phong phú và tiện nghi như: nhà hàng, phòng họp, dịch vụ cho thuê văn phòng, sân tennis, massage, trung tâm thể hình và các dịch vụ giải trí.
                    Tại đây, quý khách được thưởng thức các món ẩm thực tinh tế mang đậm phong cách truyền thống và được đảm nhiệm bởi các đầu bếp chuyên nghiệp, tài hoa cùng với phong cách phục vụ chuyên nghiệp, nhiệt tình và thân thiện của đội ngũ nhân viên giàu kinh nghiệm. Tất cả đã góp phần làm nổi danh một thương hiệu Khách sạn Robins Villa.
                </p>
            </div>
        </div>
    </div>
</body>